/* google font  */

@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Sans:ital@0;1&display=swap');
body {
    font-family: 'Merriweather', serif;
}


/* carousel button  */

.caro-btn-color {
    background-color: white;
    color: #FF6263;
    font-weight: 600;
    padding: 5px 10px;
}


/* card-button  */

.card-btn {
    background-color: rgb(225, 255, 221);
}

.card-button {
    background-color: wheat;
}

@media (max-width:768px) {
    .carousel-own {
        height: 450px;
    }
}